body{
  background-color:  rgb(42, 39, 52);
  font-size: 2em;
}
.components{
  width:100%;
  display:flex;

}
.component-one{
  width:50%;
  height:500px;
  z-index:1;
    background-color: rgb(42, 39, 52);
    height:90vh;

}
.component-two{
  width:50%;
   height:500px;
   z-index:0;
     background-color: rgb(42, 39, 52);
     height:90vh;
}
.controls{
    display:flex;
    position:fixed;
    left:5px;
    bottom:5px;
    align-items:start;
     /* border-top:1px solid tomato;
    border-bottom:1px solid tomato; */
    background-color: rgb(42, 39, 52);

}
.controls__item{
        width:32px;
        height:32px;
        border:1px solid white;
        cursor:pointer;
}
.controls__item--start{
            background:url("/play.png") no-repeat center;
}
.controls__item--next{
            background:url("/next.png") no-repeat center;
}

pre[class*="language-"] {
    padding: none;
    margin: none;
    overflow: hidden;
    border: none;
    border-radius: none;
    box-shadow: none;
    background-color: 'transparent';
}